<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>904844239158-gacs690lcs54jkvvanjts8rvvvbpi8l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904844239158-gacs690lcs54jkvvanjts8rvvvbpi8l5</string>
	<key>API_KEY</key>
	<string>AIzaSyDLMY0yHok2V8TPEUbpLpYg6LgRk5-tPCY</string>
	<key>GCM_SENDER_ID</key>
	<string>904844239158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsapps.Electoral-College-Fantasy-League</string>
	<key>PROJECT_ID</key>
	<string>election-fantasy-league</string>
	<key>STORAGE_BUCKET</key>
	<string>election-fantasy-league.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904844239158:ios:94bfb85ffea8b384</string>
	<key>DATABASE_URL</key>
	<string>https://election-fantasy-league.firebaseio.com</string>
</dict>
</plist>